@charset "utf-8";
/*公共类*/

.clearfix:before, .clearfix:after{
    content: '';
    display: table;
}
.clearfix:after{
    clear: both;
}
.clearfix{
    *zoom: 1;
}

ul{
    margin: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}

i,s,b{
    font-style: normal;
}

button{
    border: 0;
    padding: 10px 40px;
    background-color: #569597;
    color: #eee;
    border-radius: 8px;
    cursor: pointer;
    outline:none;
}

h1,h2{
    margin: 0;
    letter-spacing: 2px;
}

/*animate 动画*/
@keyframes hr {
    from {width: 1%;}
    to {width: 100%;}
}


@-webkit-keyframes  hr {
    from {width: 1%;}
    to {width: 100%;}
}

.hr-left,
.hr-right{

    animation:hr 3s;
    -webkit-animation: hr 3s;
}

.hr{
    width: 100%;
    height: 2px;
    background: #fff;
    margin: 20px auto;
}




.sub-heading{
    line-height: 30px;
    margin: 10px;
    letter-spacing: 1px;
}



html,body,#main-wrapper,#article{
    width: 100%;
    height: 100%;
}


/*---main---*/

#main-wrapper,#article{
    background: url(../img/banner.jpg) no-repeat top center fixed;
    background-size: cover;
    font-family: 'Segoe UI',"Microsoft YaHei", Helvetica, Arial, sans-serif;
    color: #fff;
    /*overflow: scroll;*/
}


#article{
    overflow: auto;
}



header{
    width:100%;
    height: 100%;
}

#article header{
    height: 30%;
}

nav {
    height: 50px;
    background:rgba(0,0,0,0.1);
    color: #fff;
  
}

.logo{
    font-size: 20px;
    font-weight: 700;
    float: left;
    letter-spacing: 1px;
    padding-left: 10px;
}

nav ul{
    float: right;
    list-style: none;

}

nav ul li, nav .logo{
    display: inline-block;
    line-height: 50px;
    margin-right: 20px;
    text-align: center;
}







nav ul li a{
    display: inline-block;
    line-height: 50px;
    height: inherit;
}

ul li a:hover,nav ul li.active {
    border-bottom: 1px solid #ccc;
}



#banner{
    height: 100%;
    letter-spacing: 2px;


}



#main-wrapper #banner .inner{
    max-width:300px;
    text-align: center;
    margin: 0 auto;
    padding-top: 15%;
    position: relative;
    height: 100%;
}

#article #banner .inner{
    max-width:300px;
    text-align: center;
    margin: 0 auto;
}

#banner .inner button{
    margin-top: 10%;
    -webkit-transition: background   1s;
    -moz-transition: background   1s;
    -ms-transition: background   1s;
    -o-transition: background  1s;
    transition: background   1s;
}

#article #banner .inner h1{
    text-align: center;
    line-height: 2;
    font-size: 36px;
}



#banner button:hover{
    background-color: #49c3a7;
}


#banner .inner .more{
    margin-top: 30%;
    width: 300px;
    height: 100px;
    line-height:100px;
}


.inner .more i{
    display: block;
    cursor: pointer;

}



.middle_content .inner{
    background: rgba(0,0,0,.3);
    width: 760px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 900px;
}

.middle_content .title{
    border-bottom: 1px dashed #49c3a7;
    height: 75px;
    max-height: 75px;
    /*height: 8%;*/
}

.middle_content .title h1{
    font-size: 26px;
    line-height: 2;
    font-family:"SimSun";
    text-align: center;
}
.middle_content .title p{
    text-align: right;
    margin:0;
    padding-right: 12px;
    padding-bottom: 5px;
}

.middle_content .details{
    height: 825px;
    padding: 10px;


}

.middle_content .details > * {
    height: 96%;
}

.middle_content .details aside{
    width:220px;
    float: left;
    border-right: 2px solid #92cabd;
    font-size: 20px;
    line-height: 2;
    background-color: rgba(0,0,0,.25);
    text-align: left;

}

.details aside ul li{

    cursor: pointer;
    margin: 10px;

}



.middle_content .details article{
    margin-left:220px;
    background: rgba(255,255,255,0.18);
    margin-top: 0;
    padding: 50px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
    text-shadow: .5px .5px .5px #000;
}




#content p{
    margin:0;
}



.green-section{
    background-color: #269D81;
    text-align: center;
    padding: 100px;

}



.wrapper{
    max-width: 1080px;
    margin: 0 auto;
}

.wrapper .hr{
    width: 60%;
    background: rgba(0,0,0,0.05);

}
.icon-group{
    padding: 20px;
}

.icon{
    display: inline-block;
    width:60px;
    height: 60px;
    line-height: 60px;
    border: 1px solid #ccc;
    transform: rotate(45deg);
    margin: 15px;
    /*vertical-align: middle;*/

}

.icon-group > .icon > *{
    transform: rotate(-45deg);
    /*text-align: center;*/
    vertical-align: middle;
}
/*.fa-html5,
.fa-css3,
.fa-coffee{

}*/

.blue-section{
    background-color: #023548;
}



.article-preview:nth-child(odd) {
    background: rgba(0,0,0,0.1);
}

.article-preview > div{
    float: left;
    font-size: 0;

}

.article-preview .img-section {

    width: 45%;
    overflow: hidden;

}

.img-section img{

    width: 100%;

 
}

.text-section{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 55%;
    padding: 30px;

    /*position: relative;*/
    /*top: 80px;*/
    /*left: 50px;*/
    /*margin-top:80px;*/
    /*margin-left: 50px;*/
}

.text-section > *{
    max-width: 90%;

}

.text-section h2{
    font-size:18px;

}

.text-section p{
    font-size: 16px;
    vertical-align:middle;
    text-indent: 1em;
}


.purple-section{
    background-color: #036564;
    text-align: center;
    padding: 30px;
}

.heading-wrapper{
}


.heading-wrapper .hr{
    width: 60%;
}

.heading-wrapper p{
    margin-top: 30px;
    margin-bottom: 60px;
}
.card-group{
    max-width: 1000px;
    margin: 0 auto;
}

.card {
    float: left;
    width: 50%;
    min-height: 300px;
    padding-top: 20px;
    letter-spacing: 1px;
}

.card:first-child{
    background: rgba( 0, 0, 0, 0.05);
}

.card:nth-child(2){
    background: rgba( 0, 0, 0, 0.10);
}


.card:nth-child(3){
    background: rgba( 0, 0, 0, 0.15);
}

.card:nth-child(4){
    background: rgba( 0, 0, 0, 0.20);
}

.card:nth-child(5){
    background: rgba( 0, 0, 0, 0.25);
}
.card:nth-child(6){
    background: rgba( 0, 0, 0, 0.30);
}

#main-wrapper footer{
    height: 100%;
    text-align: center;
    background: url(../img/banner.jpg) no-repeat left bottom fixed;
    position: relative;
}

.article-footer{
    height: 30%;
}



 footer .inner{
    position: absolute;
    bottom: 0;
    height: 300px;
    width: 100%;
    background: rgba(0,0,0,0.08);

}

footer .share-group{
    list-style: none;
    padding: 60px;
}

.share-group li{
    display: inline-block;
    padding: 10px;

}


#sidebar{
    position: fixed;
    top:0;
    right:-300px;
    bottom:0;
    height: 100%;
    width: 300px;
    background: #1E8A7D;
    letter-spacing: 2px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: al 0.5s;
    transition: all 0.5s;
}

#sidebar ul{
    list-style: none;
    padding: 45px 30px;
}
#sidebar ul li{
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #1D9D92;

}

#sidebar i{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    display: block;
}

#bg{

    font-size:20px;

    letter-spacing: 1px;
    line-height: 50px;
    color: #fff;
}

#sele {
    background: transparent;
    -webkit-appearance: none;
    border: 0;
    color: #fff;
}



/*.qr{*/
    /*position: relative;*/
    /*top: 100px;*/
    /*right: 100px;*/
    /*margin: 100px;*/
/*}*/

 .cricle{
    display: block;
    border: 2px solid #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}

.cricle i{
    line-height:50px;
    font-size: 32px;
}

#mask{
    display: none;
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background: rgba(0,0,0,0.5);
}

/*.scroll-top{*/
    /*display: block;*/
    /*width: 20px;*/
    /*height: 20px;*/
/*}*/

#scroll_top{
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: none;
}



